<div class="bot_margin">
  <h2>This is our Commitment!</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-gamepad"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-dice"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-futbol"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-candy-cane"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-gifts"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-baby"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-child"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="icon_frame">
        <i class="fas fa-smile-wink"></i>
        <p style="display: none">Test</p>
      </div>
    </div>
  </div>
</div>
