@import "variables";

body {
  background-color: $sub_bgcolor !important;
}

#placeholding_element {
  height: 40em;
}

.frame .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.main_frame {
  margin-top: 5em;
}


// Media Requests:
//
@media (min-width: 576px) {
  #logo_frame i {
    font-size: 2em;
      display: block !important;
  };
  #logo {
    visibility: hidden !important;
    display: inline;
  }
  .nav-item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  };

}

@media (min-width: 768px) {
  #logo_frame i {
    font-size: 1.5em !important;
      display: inline-block !important;
  };

  #logo {
    visibility: hidden !important;
    display: inline;
    }
  }

@media (min-width: 1200px) {
  #logo {
    display: inline !important;
    visibility: visible !important;
    }
    #placeholding_element {
      height: 2em !important;
    }
    #search_field {
      width: 62% !important;
    }
    #btn_search {
      width: 25% !important;
    }
    #logo_frame i {
      font-size: 1.7em !important;
    }
  }
