// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * { border: 1px solid red};

@import "variables";


.order_frame {
  border-radius: 4em;
  border: .4em solid white;
  padding: 1.5em;
  margin: auto;
  width: 95%;
  height: 95%;
  overflow-wrap: break-word;
}

.product_img {
  text-align: center;
  width:50%;
  margin: auto;
}
