// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * { border: 1px solid red};

@import "variables";

form label {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
  text-align: center;
}

.frame {
  text-align: center;
}

.main_frame { margin-top: 38em;}

@media (min-width: 576px) {
  .main_frame { margin-top: 33em;}
}
// @media (min-width: 768px) {
//   .main_frame { margin-top: 25em;}
//   }
  @media (min-width: 1200px) {
    .main_frame { margin-top: 15em;}
    }


// .mt-2 {
//
// }
//
// .mt-lg-0 {
//   .main_frame { margin-top: 15em;}
// }




.header {
  font-size: 1.6em;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 2em;
  color: white;
}

.name h2 {
  font-family: 'Pacifico', cursive, 'sans-serif';
  font-size: 3em;
}

// index

table {
  color: white;
}

.url_image {
  margin-top: 1em;
  border: .1em solid white;
  border-radius: .2em;
  padding: .5em;
  color: white;
}
.url_image:visited {
  color: white;
}

.url_image:hover {
  // background-color: $color_greenish;
  background-color: $color_greenish;
  background-size: 200% 100%;
  background-position:left bottom;
  text-decoration: none;
}

.button_row {
  text-align: left;
}

.btn:visited {
  color: white;
}

.btn {
  color: white;
}

// Show:

.descr {
  font-size: 1.5em;
  font-weight: 600;
}

.name, .descr {
  color: $color_reddish
}

.product_frame {
  border-radius: 4em;
  border: .4em solid $color_reddish;
  padding: 1.5em;
  margin: auto;
  width: 95%;
  height: 95%;
  overflow-wrap: break-word;
}

.shop_window {
  width: 40%;
  margin: 50px auto;
}

.carousel_img {
  border-radius: 20%;
  border: 4px solid $color_reddish;
}

.carousel-caption {
  left: 0 !important;
  right: 0 !important;
  background-color: $color_reddish;
  border-radius: 10% 10% 10% 10% ;
}

.carousel-caption h5 {
  font-family: 'Pacifico', cursive, 'sans-serif';
  font-size: 2.5em;
}

.product_image {
  border: .4em solid #FFBC42;
  padding: 0;
  margin-bottom: 1em;
  border-radius: 0.4em;
}

.actions {
  margin-top: 2em;
  text-align: center;
}

.img_square {
  margin: auto;
  text-align: center;
  height: 50%;
  width: 50%;
}

h2 {
  font-family: 'Pacifico', cursive, 'sans-serif';
  font-size: 2em;
  color: $color_yellowish;
}

.product_frame p {
  color: white;
}


.ruby_code {
  margin: auto;
  text-align: center;
  color: yellow;
}

.prize {
  font-size: 3em;
  font-weight: bold;
  color: green;
  border: .2em solid green;
  border-radius: .2em;
  padding: 1em;
}
