// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * { border: 1px solid red};

@import "variables";

form label {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
  text-align: center;
}

form textarea {
  width: 80%;
  height:8em;
  border-radius: 5em;
  text-align: center;
  margin: auto;
}

.frame {
  text-align: center;
}

// .mt-2 {
//
// }
//
// .mt-lg-0 {
//   .main_frame { margin-top: 15em;}
// }

// index

table {
  color: white;
}

.url_image {
  margin-top: 1em;
  border: .1em solid white;
  border-radius: .2em;
  padding: .5em;
  color: white;
}
.url_image:visited {
  color: white;
}

.url_image:hover {
  background-color: $sub_textcolor;
  background-size: 200% 100%;
  background-position:left bottom;
  text-decoration: none;
}

.button_row {
  text-align: left;
  margin-bottom: 6em;
}

.btn:visited {
  color: white;
}

.btn {
  color: white;
}

// Show:


.descr {
  font-size: 1.5em;
  font-weight: 600;
}

.name, .descr {
  color: $main_textcolor
}





.product_card_text small {
  color: white;
}

.product_card_info {
  border-bottom: .3em solid $main_bgcolor;
  border-radius: .5em;
  margin: .75em;
}

.product_card_infohead {
  background-color: $main_bgcolor;
  border-radius: .5em;
}

.product_card_text {
   visibility: "hidden";
}

.product_adm {
  margin-top: 2em;
  margin-bottom: 6em;
  width: 100%;
  border-radius: .5em;
  background-color: $main_bgcolor;
}

.product_adm .row .col-6 {}

.card-img-top {
  border: .4em solid white;
  border-radius: 1em;
  width: 100%;
}

.product_card_btn {
  margin-top: 2em;
  width: 100%;
  font-weight: bold;
  background-color: $other_bgcolor;
}

.product_card_btn:hover {
  border: .2em solid white;
}

.product_action_btn {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
  border: .15em solid white;
}

.stripe-button-el {
  width: 100%;
}

.shop_window {
  width: 40%;
  margin: 50px auto;
}

.product_image {
  border: .4em solid #FFBC42;
  padding: 0;
  margin-bottom: 1em;
  border-radius: 0.4em;
}


.img_square {
  margin: auto;
  text-align: center;
  height: 50%;
  width: 50%;
}

h2 {
  font-family: 'Pacifico', cursive, 'sans-serif';
  font-size: 2em;
  color: $main_textcolor;
}

.product_frame p {
  color: white;
}

.card:first-child {
  border-radius: 5em 5em 0 0;
}

.show_frame, .card-body {
  background-color: $main_bgcolor;
}

.ruby_code {
  margin: auto;
  text-align: center;
  color: yellow;
}
