// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { box-sizing: border-box; }
// * { border: .02em solid red; }

// This how to create a Glyphicon???
.glyphicon-euro { content:"\20ac"; }


@import "variables";



form h1 {
  text-align: center;
}

.contact_form {
  width: 60%;
  margin: auto;
}



// Index Page:

.index_container h1 {
  font-family: 'Pacifico', cursive, 'sans-serif';
}

.carousel-indicators {
  bottom: 12em !important;
}

.carousel_control:hover {
  background-color: transparent;
}

.carousel_img {
  max-width: 100% !important;
  max-height: 100% !important;
}

#carousel_icons {
  color:red;
}

.index_container {
  width: 80%;
  margin: 6em auto;
  text-align: center;
  color: white;
  background-color: $main_bgcolor;
  border-radius: 1.5em;
  border: .15em solid white;
}


// About-Page:

.icon_frame {
  border: 2px solid $main_textcolor;
  border-radius: 3em;
  text-align: center;
  height: 15em;
  padding: 1em;
  margin: 2em;

}

.icon_frame i {
  font-size: 7.5em;
  // margin: auto;
  margin-top: .3em;
  margin-bottom: auto;
}

// Google-Fonts:
// font-family: 'Comfortaa', cursive;
// font-family: 'Pacifico', cursive, 'sans-serif';
// font-family: 'Fredoka One', cursive;
