// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { box-sizing: border-box; }
// * { border: .02em solid red; }

// This how to create a Glyphicon???
.glyphicon-euro { content:"\20ac"; }


@import "variables";



body {
  background-color: $color_blueish;
}

form h1 {
  text-align: center;
}

.contact_form {
  width: 60%;
  margin: auto;
}



// Index Page:

.index_container h1 {
  margin: 1em;
  font-family: 'Pacifico', cursive, 'sans-serif';

}

.index_container {
  width: 80%;
  margin: 3em auto;
  text-align: center;
  background-color: $color_lightgreenish;
  border-radius: 3em 2em;
  border: .2em solid $color_reddish;
}

#carouselExampleControls {
  padding: 0 5%;
}




// Google-Fonts:
// font-family: 'Comfortaa', cursive;
// font-family: 'Pacifico', cursive, 'sans-serif';
// font-family: 'Fredoka One', cursive;
