// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";


h2 {
  font-family: 'Pacifico', cursive, 'sans-serif';
  font-size: 2em;
  color: $main_textcolor;
  text-align: center;
}

.table_frame * {
  padding: 4px;
  margin: auto;
}

.table_frame .row {
  border: 4px solid orange;
  border-radius: 20px;
}
