// Colors:
$color_greenish: #5FAD56;
$color_yellowish: #FFBC42;
$color_blueish: #2660A4;
$color_purpleish: #540D6E;
$color_creamy: #E3DFFF;
$color_lightgreenish: #B3D89C;
$color_reddish: #D1495B;

$font_main: 'Comfortaa', cursive;
