<div class="carousel-inner">
  <% if @products.present? %>
    <% @products.each do |product| %>
      <div class="carousel-item<%= " active" if product == @products.first %>">
        <%= image_tag(product.image_url, class: "d-block w-100 carousel_img") %>
        <a url="<% product %>" class="carousel-caption d-none d-md-block">
          <h5><%= product.name %></h5>
          <p><%= product.prize %>€</p>
        </a>
      </div>
    <% end %>
  <% else %>
    <div class="carousel-item active">There is no post to show</div>
  <% end %>
</div>
