<h2>Editing the Product: <br><%= @product.name %></h2>
<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class: "col-3 btn btn-primary" %> |
<%= link_to 'Back', products_path, class: "col-3 btn btn-primary" %>
